model_name: "VICReg"
split_strategy: "class"
dataset: "cifar100"

plugin: ""

num_classes: 100
num_tasks: 5
seeds: [5]

image_dim: 32
feature_dim: 512
projection_hidden_dim: 2048
projection_output_dim: 2048
projection_layers: 2

loss:
  sim_loss_weight: 17.17282564238835
  var_loss_weight: 81.19917022390796
  cov_loss_weight: 0.3058921287431575
  epsilon: 0.49145218206036034

gather_distributed: False

train_batch_size: 256
train_accumulate_grad_batches: 1
train_epochs: 500

test_batch_size: 128
test_accumulate_grad_batches: 1
test_epochs: 100

optimizer:
  name: "lars"
  train_learning_rate: 0.21606591367542882
  classifier_learning_rate: 0.1
  weight_decay: 5.538632168859102e-06
  momentum: 0.9
  trust_coefficient: 0.02
  clip_lr: True

num_workers: 4
set_float32_matmul_precision: "high"

# Tracking
wandb: True
wandb_project: "CSSL"

# Augmentations
gaussian_blur: [0.0, 0.0]
solarization: [0.1, 0.1]
brightness: 0.4
contrast: 0.4
saturation: 0.2
hue: 0.1

# Classifier parameters
knn_neighbours: 200
knn_temperature: 0.1

# overwrite Pytorch Lightening default
num_devices: 1
gpu_devices: [0]
sync_batchnorm: True
accelerator: "gpu"
strategy: "auto"
precision: 16-mixed

# Hard defaults
reference_batch_size: 256