# ignore ALL .log files

CSSL/draft.ipynb

# ignore ALL files in ANY directory named temp
.venv/
data/
wandb/
CSSL/
logs/

CSSL/lightning_logs/
__pycache__/
*/__pycache__/
*/*/__pycache__/
CSSL/*/__pycache__/

