# ignore ALL .log files


# ignore ALL files in ANY directory named temp
CSSL/.venv/
CSSL/data/
CSSL/lightning_logs/
CSSL/wandb/
CSSL/CSSL/
CSSL/lab
__pycache__/
*/__pycache__/
*/*/__pycache__/
CSSL/*/__pycache__/

v1.ipynb